

#main {
  width: 100%;

  height: 500px;
  overflow-y: scroll;
  /* background-color: burlywood; */
}


#main2 {
  width: 80%;
  margin: 0 auto;

  height: 500px;
  /* background-color: burlywood; */
}

#task-card {

    
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(201, 224, 250);
    border: 0.5px dotted black;
    margin-top: 1em;
  
    
}
#div-containter-update {
  width: 50px;
  height: 50px;
  background-color: rgb(151, 135, 138);
}

#div-update {
  width: 40px;
  height: 40px;
  background-color: crimson;
}

#div-containter-update :hover ~ #div-update {
  background-color: darkgoldenrod;
  display:none!important;
}
/* #task-card:hover {
  background-color: crimson;
} */
#div-containter-btn {
  display: flex;
}


#btnDelete {
  background-color: rgb(201, 224, 250);
  padding: 0;
  margin-top: 0.1em;
  margin-left: 3em;
  margin-right: -2em;
    width: 45px;
    height: 45px;
    border: 0;    
}
#btnUpdate {
  background-color: rgb(201, 224, 250);
  padding: 0;
  margin-top: 0.1em;
    width: 45px;
    height: 45px;
    border: 0;  
}
#imgDelete {
  width: 40px;
  margin: 0 auto;
}
#imgUpdate {
  width: 40px;
  margin: 0 auto;
}








#fill-data-task {
  width: 100%;
  margin: 0 auto;
  background-color: beige;
  font-size: 1.3em;
}
#fill-data-task-up {
  width: 100%;
  margin: 0 auto;
  background-color: beige;
  font-size: 1.3em;
  display: none;
}

#bth-group {


  align-items: flex-end;

}

#header {
  font-size: 1.5em;
  justify-content:space-around;
}

